.clickable
	padding: .5rem
	margin: -.5rem

// Color
.bc-blue
	background-color: $c-blue
	color: white

// Text
.font-mono
	font-family: 'Lucida Console'

// Layout
.p-1
	padding: 1rem
	box-sizing: border-box
.p-2
	padding: 2rem
	box-sizing: border-box

.br
	border-radius: 5px
