@import 'fonts'

.page-leave-active
	transition: opacity 0.2s, transform 0.5s

.page-enter
	opacity: 0
	transform: translateY(1rem)

.page-leave-to
	opacity: 0
	transform: translateY(-1rem)

*
	padding: 0
	margin: 0
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

html
	font-family: 'Arboria', sans-serif
	font-weight: 400

p
	line-height: 1.5em
	margin-bottom: 1rem
	img
		margin: 1rem 0

p, ul, li a
	color: $c-black

h1, h2, h3, h4, h5, h6
	font-weight: 900
	color: $c-black

h1
	margin-bottom: 1em
	font-size: 3rem
	@include mobile
		font-size: 2rem

h2
	margin-bottom: 1em
	font-size: 1.66rem

h3
	font-weight: 400
	text-transform: uppercase
	font-size: 1rem
	color: $c-gray-dark

h4
	font-size: 1.2em

a
	color: inherit
	text-decoration: none

img
	max-width: 100%
	height: 100%

.swiper-pagination-bullet
	display: block !important
	margin: 18px 0 !important
	width: 12px !important
	height: 12px !important
	background: none !important
	border: 2px solid $c-gray-dark !important
	transition: background 100ms ease, border 100ms ease
	&:focus
		outline: none

.swiper-pagination-bullet-active
	background: $c-blue !important
	border: 2px solid $c-blue !important

.container
	width: 960px
	max-width: 90% !important
	margin: auto
	.row
		display: grid
		grid-template-columns: repeat(12, 1fr)
	@include mobile
		width: 90%
	@include mobile-landscape
		padding-right: 4rem // space right so the console doesn't interfere
		box-sizing: border-box

.section
	margin-top: 10rem
	margin-bottom: 10rem
	@include mobile
		margin-bottom: 4rem
		margin-top: 4rem
		
select:invalid
	color: gray !important

select, input, button, textarea
	appearance: none
	-webkit-appearance: none
	-moz-appearance: none
	-ms-progress-appearance: none
	border: none
	padding: .5rem 1rem
	font-size: 1rem
	outline: none
	font-family: 'Arboria', sans-serif
	font-weight: 400

input[type="checkbox"]
	cursor: pointer
	&:checked
		background: $c-blue

textarea
	box-sizing: border-box
	font-size: 1rem